a{color:#368ccc}
/* header */
.logo{background:url(images/garuda-skyteam1.png) no-repeat}   
#header{background:url(images/02.png) repeat-x top #fff}
#header.main{background:url(images/01.png) repeat-x top #fff}
#header .header-bg{background:url(images/06.png) no-repeat center top;}
#header.main .dec-left{background:url(images/07ss.png) no-repeat bottom right}
#header.main .dec-right{background:url(images/08s.png) no-repeat bottom right}
	/* Language */	
	.eng a{background-image:url(images/s1.png)}
	.idn a{background-image:url(images/s2.png)}
	/* Details */
	.contact-details a{color:#4ca6e8}
	/* Search */
	.search-text-submit{background:url(images/04.png) no-repeat}
	/* Menu */
	#menu {background:#262864} 
	#menu li a:hover{background:#16919f}
	.select-menu{background:#202257}
	/* Main Slider */
	.main-slider{background:url(images/09s.png) no-repeat -0px -1px}
	#menu ul{border-bottom:5px solid #3681b9}
/* slider */	
.ls-bottom-slidebuttons a.ls-nav-active{background:#368ccc}	
	.bg1{background:url(images/50.png) no-repeat}
	.bg2{background:url(images/50.png) no-repeat}
	.bg3{background:url(images/50.png) no-repeat}
/* footer */
#footer{background:url(images/12.png) repeat-x #efefec}
#footer .link{color:#368ccc}
#footer .slogo{background:url(images/logofooter.png) no-repeat}
/* arrow-up */	
.back-top{background:url(images/14.png) no-repeat}
/* Base tag */
#content li{color:#808285}
h1,h2,h3,h4,h5{color:#368ccc}
div.title{background:url(images/10.png) no-repeat bottom left;padding:0 0 23px;margin:0 0 23px;width:100%}
/* Dropcap */
.dropcap{background:#368ccc;color:#fff}
.dropcap2{background:#dcdee0;color:#368ccc} 
/* Highlight */
.highlight1{background:#368ccc;color:#fff}
.highlight2{background:#ff0000;color:#fff}
.highlight3{background:#fcff00}
/* Blockquote */
blockquote{border-left:6px solid #368ccc}
/* Navigation */
#content .navigation li a:hover,#content .navigation li.active a{color:#368ccc;border-left:8px solid #368ccc}
/* Tagcloud */
.tagcloud a:hover{background:#4a7eb7;color:#fff}
/* Form */
label {color:#368ccc}
/* Buttoms */
	.button.s1{background:#368ccc}
	.button.s1:hover{background:#3481ba}
	.button.s2{background:#5f6061}
	.button.s2:hover{background:#4e4f50}
	.button.s3{background:#035bad}	
	.button.s3:hover{background:#79ABC6;text-decoration: none}
	.ls-s2{background:url(images/51.png) no-repeat}
/* Media */	
.carousel-control{color:#368ccc;background:#f2f0f2}	
.carousel-control:hover{color:#262864}	
/* Review */
.md-name strong{color:#368ccc}
/* Tabs */
#content .nav-tabs li{border-bottom:5px solid #368ccc;background:#ededea}
#content .nav-tabs li.active{background:#368ccc}
.nav-tabs a{color:#368ccc} 
/* Awards */   	
.award:hover{background-image:url(images/26.png);}	
/* Accordion */
.accordion-heading .accordion-toggle{background:#ededea;color:#368ccc}
.marker{background:url(images/36.png) no-repeat}
.accordion-heading .accordion-toggle.target{background:#368ccc;color:#fff}
/* Service Option */
.move-bg-icon{background-color:#368ccc}
.link-block:hover{background:url(images/26.png) repeat-x bottom #3e3e3e;color:#bebfc0}
/* Meet Our Doctors 1 */	
.link-img h4{color:#ff0000}
.link-img:hover{background:url(images/26.png) repeat-x bottom}
/* Table */
.column h4{border-bottom:5px solid #368ccc}
/* Price Table */
.pricecolumn h3{background:url(images/41.png) repeat-x bottom #ededea}
.number{color:#368ccc}	
.cents{color:#368ccc}
.time{color:#575757}
.button-price{background:#ededea;color:#368ccc}
.pricecolumn h3.active{border-top:7px solid #368ccc;background:#368ccc;color:#fff}
.price-td.active{background:#368ccc;color:#fff}
.dollar.active,.cents.active,.time.active{color:#e7e4e4}
.number{color:#fff}
/* Pages Under Construction & 404 */
.under-wrapper .date span{color:#368ccc;border-bottom:4px solid #368ccc}
#footer-under{background:url(images/45.png) no-repeat center #368ccc}
@media (max-width:979px){
	#header,#header .header-bg,#header.main,#header.main .header-bg{background:none;height:auto;margin-bottom:10px}
	.main-slider{height:310px;background:none}
} 