﻿/* [Table of contents]
------------------------------------------------------------------
1. import basic files
2. site Styles
3. header
4. logo
5. social contact
6. details
7. search
8. menu
9. main slider
10. slider
11. footer
12. crumbs
13. arrow-up
14. base tag
15. list styles
16. calendar
17. post
18. twitter
19. pagenavi
20. dropcap
21. highlight
22. blockquote
23. navigation
24. thumbnails
25. tagcloud
26. form
27. buttoms
28. contact line
29. widget slider
30. media
31. review
32. tabs
33. alert
34. award
35. accordion
36. service option
37. icon
38. meet our doctors 1
39. table
40. price table
41. make an appointment
42. bootstrap elements
43. pages under construction & 404
44. blog
45. comments
46. responsive
-------------------------------------------------------------------*/

/* [1. import basic files]
------------------------------------------------------------------*/
@import url("css/bootstrap.css");  
@import url("css/layerslider.css");  
/*@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700);*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);*/

/* [0. font installation]
------------------------------------------------------------------*/
@font-face {
    font-family:'Yanone Kaffeesatz';
    src: url("fonts/yanone-kaffeesatz/YanoneKaffeesatz-Regular.otf");
}

/* [2. site styles]
------------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{font-size:100%;border:0;outline:0;vertical-align:baseline;background:transparent;margin:0;padding:0}
html{height:100%}
body{
	font-family: Helvetica, Arial, sans-serif;
  	line-height: 1.42857143;
	font-size:13px;
	font-weight:400;
	color:#58595b;
	background:#fff;

}
blockquote,q{quotes:none}
:focus{outline:0}
input{border:0;vertical-align:middle}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
*{margin:0;padding:0}
a{outline:none;text-decoration:underline}
a:hover{text-decoration:none}
p{margin:0 0 21px;padding:0;line-height:1.6}
ins,a:hover{text-decoration:none}
.floatleft{float:left}
.floatright{float:right}
#wrapper{width:100%;overflow:hidden;position:relative}


/* [3. header]
------------------------------------------------------------------*/
#header{height:315px;padding:0px}
#header.main{height:603px}
#header .header-bg{width:100%;height:100%}
#header.main .header-bg{background:url(images/05s.png) no-repeat center top}
#header .container{position:relative}
#header.main .decoration{position:absolute;top:266px} 
#header.main .dec-left{left:-320px;width:320px;height:297px}
#header.main .dec-right{right:-340px;width:340px;height:354px}

	/* [4. logo]
	------------------------------------------------------------------*/
	#logo{padding:46px 0 35px} 
	.logo{display:inline-block;width:400px;height:77px;margin-left:17px}

	/* [5. social contact]
	------------------------------------------------------------------*/
	#header .social-icons{position:relative;margin-top:31px;right:10px;text-align:right}
	#wrapper .social-icons li,.social-icons li{width:24px;height:24px;list-style:none;overflow:hidden;display:inline-block;margin:0 3.5px;padding:0}
	#wrapper .social-icons li a,.social-icons li a{position:relative;top:-24px;display:block;height:0;padding-top:48px;overflow:hidden;background-repeat:no-repeat}
	#wrapper  .container .social-icons {position:relative;left:-3.5px}   

	/* [6. details]
	------------------------------------------------------------------*/
	.contact-details{position:relative;margin-top:11px;right:10px;font-family:'Open Sans',sans-serif;color:#808285}
	.contact-details li{list-style:none;text-align:right}
	.contact-details a{font-family:'Open Sans',sans-serif;text-decoration:underline}
	.contact-details a:hover{text-decoration:none}

	/* [7. search]
	------------------------------------------------------------------*/
	.search-form{float:right;position:relative;top:47px;right:10px;width:192px;height:27px;z-index:99}
		.search-form input{position:absolute;top:0}
		.search-text-box{font-family:'Open Sans',sans-serif;line-height:2;color:#808285;left:20px;padding:0 10px;width:129px;height:27px;background:url(images/03.png) repeat-x}
		.search-text-submit{cursor:pointer;right:0px;width:43px;height:27px}

	/* [8. menu]
	------------------------------------------------------------------*/
	#menu {height:49px;position:relative;z-index:2;width:940px;margin:0 auto;}   
	#menu li{float:left;list-style:none;position:relative}
	#menu li a{font-family:'Open Sans',sans-serif;text-transform:uppercase;text-decoration:none;color:#fff;padding:15px 10px 16px;display:block}
	.select-menu{padding:10px}
	.select-menu select{width:100%;padding:5px}

	/* [9. main slider]
	------------------------------------------------------------------*/
	.main-slider{display:none;width:940px;height:416px}
	.main  .main-slider{display:block}
	#menu ul{display:none;z-index:9999;width:190px;position:absolute;top:100%;left:0}	
	#menu ul li{float:none}
	#menu li ul li a{display:block;padding:10px;text-transform:none;background:rgba(0,0,0,0.8);background:#000\0/}
	#menu li ul li a:hover{background:rgba(0,0,0,0.5)}
	.ls-bg{display:block;width:960px!important;height:380px!important}


/* [10. slider]
------------------------------------------------------------------*/
.ls-bottom-slidebuttons{position:absolute;bottom:15px;right:0px;text-align:right;width:100px;height:30px;display:block}	
.ls-bottom-slidebuttons a{background:#c3c2c2;width:11px;height:11px;display:inline-block;margin-right:4px}	
.ls-s1{width:100%;text-align:right}
.ls-s2{width:481px;height:220px}	
.ls-s3{color:#fff;text-decoration:none;font-family:'Yanone Kaffeesatz',sans-serif;font-size:23px;display:inline-block;padding-right:30px}
.ls-s4{color:#fff;width:320px}
.ls-s5{color:#fff;font-family:'Open Sans',sans-serif;font-size:30px;text-transform:uppercase;text-decoration:none}
.ls-inner{background:transparent;background:none!important}

/* [11. footer]
------------------------------------------------------------------*/
#footer{clear:both}
#footer section{position:relative;padding:0 0 30px}
#footer a{text-decoration:none}
#footer a:hover{text-decoration:underline}
#footer article{color:#6d6e71;text-align:left;padding:34px 0 0}
#footer  h3.title{font-family:'Yanone Kaffeesatz',sans-serif;font-weight:400;font-size:19px}
#footer .social-icons li {margin:20px 7px 0 0}
#footer .navblock li{list-style:none;border-bottom:1px dotted #ababaa}
#footer .navblock a{display:block;padding:7px 0 7px 15px;background:url(images/11.png) no-repeat left center}
#footer .slogo{margin-bottom:10px;width:140px;height:43px}
.footer-line{background:#e8e6e9;color:#6d6e71;font-size:12px;overflow:hidden}
.footer-line div.row-fluid div{padding:30px 0 20px}
.footer-line a{color:#009098;font-size:12px}
.footer-line a:hover{color:#368ccc;}
.top{margin-left:20px;padding-left:10px;background:url(images/13.png) no-repeat left center}
.main-footer{
	background:url(images/footers.png) no-repeat left center;
    padding: 15px 15px 15px;
    color: #fff;
    text-align: center;
}

/* [12. crumbs]
------------------------------------------------------------------*/	
#headline-page{position:relative;top:0px;margin-top:-108px;width:100%;height:96px}	
#crumbs{position:relative;top:-15px}
#crumbs a{font-size:11px}
	.active{color:#808285}	

/* [13. arrow-up]
------------------------------------------------------------------*/	
.back-top{position:fixed;bottom:115px;right:50%;margin-right:-650px;width:101px;height:84px}
.back-top a{display:block;width:100%;height:100%}

/* [14. base tag]
------------------------------------------------------------------*/	
#content{position:relative}
#content ul{margin-bottom:13px}
#content ul li{padding:2px 0 15px 4px}
#content ol{padding:2px 0 15px 24px}
#content ol li{padding:-1px 0 15px 24px}
#content img.alignleft{display:inline;float:left;margin-right:24px;margin-top:4px}
#content img.alignright{display:inline;float:right;margin-left:24px;margin-top:4px}
#content img.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}
#content .alignleft{text-align:left}
#content .alignright{text-align:right}
#content .aligncenter{text-align:center}
h1,h2,h3,h4,h5{font-family:'Yanone Kaffeesatz',sans-serif;font-weight:400;margin:0 0 12px;padding:0}
h1{font-size:35px}
h2{font-size:28px}   
h3{font-size:23px}
h4{font-size:19px}
h5{font-size:16px}
div.title{padding:0 0 23px;margin:0 0 23px;width:100%}
div.title h2{font-size:28px;margin:0}
div.headline{clear:both;margin-top:7px}
div.headline h4{color:#6d6e71}
.purchase{display:block;color:#6d6e71;position:relative;top:-15px;padding-bottom:45px;font-family:'Yanone Kaffeesatz',sans-serif;font-size:20px}

/* [15. list styles]
------------------------------------------------------------------*/	
#content .check-list li{background:url(images/li1.png) no-repeat 0 6px}
#content .arrow-list li{background:url(images/li2.png) no-repeat 0 6px}
#content .bullet-list li{background:url(images/li3.png) no-repeat 2px 8px }
#content .plus-list li{background:url(images/li4.png) no-repeat 2px 4px}
#content .minus-list li{background:url(images/li5.png) no-repeat 2px 4px}
#content .star-list li{background:url(images/li6.png) no-repeat 0 5px}
#content .service-list li{background:url(images/li7.png) no-repeat 0 7px}		
#content .link-list{padding-bottom:15px}
#content .link-list li{background:url(images/li8.png) no-repeat 0 12px;padding:0;border-bottom:1px dotted #b0b0b0}	
#content .link-list li a{display:block;text-decoration:none;line-height:20px;padding:8px 0 7px 15px}
#content .post-list{margin-bottom:25px}  
#content .post-list li{color:#6d6e71;border-bottom:1px dotted #b0b0b0;padding:0px 0 7px 0;margin-bottom:18px}
#content .post-list li a.headline{display:block;font-size:15px;padding-bottom:10px;text-decoration:none}
#content .post-list li a.headline:hover{text-decoration:underline}
#content .post-list li time{display:block;padding-bottom:15px;color:#565656;font-size:14px;font-family:'Yanone Kaffeesatz',sans-serif;font-weight:700;font-style:italic}	
#content .sitemap{padding-bottom:20px}
#content .sitemap li{color:#6d6e71;background:url(images/li7.png) no-repeat 2px 13px;border-bottom:1px dotted #b0b0b0;padding:8px 0 7px 25px}
#content .sitemap li a{text-decoration:none}
#content .sitemap li a:hover{text-decoration:underline}

/* [16. calendar]
------------------------------------------------------------------*/
.calendar{width:100%;background:url(images/43.png) repeat-x bottom;padding-bottom:2px}
.calendar caption{padding:10px 0;color:#6d6e71;font-weight:bold;background:url(images/43.png) repeat-x bottom}
.calendar thead {font-weight:bold;background:url(images/43.png) repeat-x bottom}
.calendar thead td{padding:11px 0}
.calendar thead,.calendar  tbody{color:#6d6e71}
.calendar td{padding:8px 0;text-align:center}
.calendar tbody tr:last-child td{padding:5px 0 7px}
.nav-calendar {position:absolute;top:-20px;font-size:35px;font-family:Tahoma;text-decoration:none;font-weight:800;line-height:35px}
.prew-calendar {left:5px}
.next-calendar {right:5px}

/* [17. post]
------------------------------------------------------------------*/
.post{position:relative;background:url(images/42.png) no-repeat right bottom;margin-bottom:20px;padding-bottom:10px}
.hgroup{position:relative;border-bottom:1px solid #ebeaea;padding-bottom:10px;margin-bottom:20px}
#wrapper .container  .post .social-icons{position:absolute;top:5px;right:10px;text-align:right}
#wrapper .container  .post .span3 .social-icons{right:0px}
.post .social-icons.rel{position:relative;right:0px}

/* [18. twitter]
------------------------------------------------------------------*/
#content .twitter-list{padding-bottom:5px}  
#content .twitter-list li{padding:5px 0 15px 40px;margin-bottom:10px;border-bottom:1px dotted #b0b0b0;background:url(images/li9.png) no-repeat 3px 10px}
#content .twitter-list li p{margin:0px;color:#58595b}
#content .twitter-list li  span{display:block}

/* [19. pagenavi]
------------------------------------------------------------------*/
.wp-pagenavi{height:50px;text-align:right;font-family:'Yanone Kaffeesatz',sans-serif}
.wp-pagenavi a{font-size:17px;text-decoration:none;padding:0 2px;margin:0 5px}
.wp-pagenavi a:hover{color:#76797d}
.wp-pagenavi span{font-size:17px;padding:0 5px;background:#76797d;color:#fff}

/* [20. dropcap]
------------------------------------------------------------------*/
.dropcap{float:left;text-align:center;margin:5px 20px 10px 0;width:59px;height:59px;font-size:39px;font-family:'Yanone Kaffeesatz',sans-serif}
.dropcap2{float:left;text-align:center;margin:5px 20px 10px 0;width:59px;height:59px;font-size:39px;font-family:'Yanone Kaffeesatz',sans-serif} 

/* [21. highlight]
------------------------------------------------------------------*/
.highlight1,.highlight2,.highlight3{padding:0 2px}
.highlight1,.highlight2{color:#fff}

/* [22. blockquote]
------------------------------------------------------------------*/
blockquote{font-size:16px;font-style:italic;background:#ededea;padding:24px 40px 25px 30px;margin-bottom:20px}
.blockquote-left{float:left;margin:15px 20px 0 0;width:40%}
.blockquote-right{float:right;margin:15px 0px 0 20px;width:40%}

/* [23. navigation]
------------------------------------------------------------------*/
#content .navigation li {padding:0;margin:0 0 1px}
#content .navigation li a{color:#6d6e71;font-family:'Yanone Kaffeesatz',sans-serif;font-size:19px;text-decoration:none;border-left:8px solid #ededea;background:#ededea;padding:13px 15px;display:block}

/* [24. thumbnails]
------------------------------------------------------------------*/
.thumbnail{max-width:100%;text-align:center;padding:6px;background:#fbfafb;border:1px solid #e7e7e7;line-height:0;margin-bottom:12px}
.thumbnail  img{max-width:100%}

/* [25. tagcloud]
------------------------------------------------------------------*/
.tagcloud{text-align:center;padding-bottom:15px}
.tagcloud a{margin:0 1px;text-decoration:none;color:#58595b;font-size:13px;padding:10px 5px;line-height:4;background:#f6f6f6}

/* [26. form]
------------------------------------------------------------------*/
.form-padding{padding:0 30px 0 0}
label {font-size:13px;display:block;padding-bottom:8px}
.form-text,textarea{font-family:'Open Sans',sans-serif;width:100%;margin-right:50px;padding:15px;display:block;color:#aaa2a2;border:1px solid #eeeeeb;margin-bottom:20px}
textarea{width:100%}

/* [27. buttoms]
------------------------------------------------------------------*/
.button{font-family:'Yanone Kaffeesatz';color:#fff;display:inline-block;text-decoration:none;margin-bottom:22px}
	.button.large{font-size:23px;padding:12px 23px;float:left}
	.button.under-page{font-size:23px;padding:10px 0;width:100%;display:block}
	.button.medium{font-size:20px;padding:10px 20px}
	.button.small{font-size:17px;padding:8px 10px}

/* [28. contact line]
------------------------------------------------------------------*/
.card{padding-bottom:30px}
.contact-line{padding:10px 25px;display:block;color:#808285;border-bottom:1px dotted #c5bcbc}	
	.c1{background:url(images/c1.png) no-repeat 5px 12px}
	.c2{background:url(images/c2.png) no-repeat 5px 12px}
	.c3{background:url(images/c3.png) no-repeat 4px 15px}
	.c3 a{text-decoration:none}
	.c3 a:hover{text-decoration:underline}

/* [29. widget slider]
------------------------------------------------------------------*/
.nav-slider{position:absolute;top:-80px;font-size:35px;font-family:Tahoma;text-decoration:none;font-weight:800;line-height:35px}
.prew-slide{right:5px;margin-right:15px}
.next-slide{right:5px}
.sidebar-slide .nav-slider{top:-43px}

/* [30. media]
------------------------------------------------------------------*/
.video11{width:860px;height:484px}
.video10{width:780px;height:439px}
.video9{width:700px;height:394px}
.video8{width:620px;height:349px}
.video7{width:540px;height:304px}
.video6{width:460px;height:259px}
.video5{width:380px;height:214px}
.video4{width:300px;height:169px}
.video3{width:220px;height:124px}
.video2{width:140px;height:79px}
.video-shortcode{padding-bottom:20px}
.video-shortcode iframe{width:100%;height:100%}
.carousel{position:relative;line-height:1;margin-bottom:23px}
.carousel-inner{overflow:hidden;width:100%;padding:0px;margin:0px;position:relative}
.carousel .item{display:none;position:relative;-webkit-transition:1s ease-in-out left;-moz-transition:1s ease-in-out left;-o-transition:1s ease-in-out left;transition:1s ease-in-out left}
.carousel .item > img{display:block;line-height:1;max-width:100%}
.carousel-caption{position:absolute;left:0;right:0;bottom:0;background:rgba(0,0,0,0.75);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#000000', EndColorStr='#000000');padding:23px 19px;margin:3px 5px}
.carousel-caption h4,.carousel-caption p{color:#fff;line-height:20px}   
.carousel-caption h4{margin:0 0 5px}
.carousel-caption p{margin-bottom:0}
.carousel-control{position:absolute;top:50%;left:5px;width:40px;height:40px;margin-top:-20px;font-size:35px;font-family:Tahoma;text-decoration:none;font-weight:800;line-height:35px;text-align:center}
.carousel-control.right{left:auto;right:6px}
.carousel-control:hover{text-decoration:none;opacity:0.9;filter:alpha(opacity=90)}
.carousel .active,.carousel .next,.carousel .prev{display:block}
.carousel .next,.carousel .prev{position:absolute;top:0;width:100%}
.carousel .active,.carousel .next.left,.carousel .prev.right{left:0}
.carousel .next,.carousel .active.right{left:100%}
.carousel .prev,.carousel .active.left{left:-100%}
.thumbnail .carousel{margin-bottom:0px}
.thumbnail .carousel-caption{padding:15px 15px;text-align:left;margin:0}
.thumbnail .carousel-control{left:0}
.thumbnail .carousel-control.right{left:auto;right:0}

/* [31. review]
------------------------------------------------------------------*/
.review-slider{margin:0px;padding:25px}
.review-slider .item{margin-bottom:100px}
	.blockquote-line{position:absolute;left:0px;top:0;width:100%;background:url(images/15.png) no-repeat bottom left #ebeaea;-webkit-transition:0.1s ease-in-out height;-moz-transition:0.3s ease-in-out height;-ms-transition:0.3s ease-in-out height;-o-transition:0.3s ease-in-out height;transition:0.3s ease-in-out height}
	.blockquote-pattern{width:100%;height:100%;background:url(images/16.png) no-repeat bottom right}
.blockquote{padding-bottom:15px;border:0;font-size:13px;font-style:italic;line-height:1.6;margin:0;overflow:hidden}
.md{display:none;position:absolute;bottom:-90px}
.client-pic{margin-left:25px}
.md-name{position:absolute;top:10px;z-index:2;width:160px;left:70px;font-size:14px;font-weight:600}
.company-name{font-size:12px;padding-top:4px;clear:both;font-weight:300}		

/* [32. tabs]
------------------------------------------------------------------*/
.tab-content > .tab-pane,.pill-content > .pill-pane{display:none}
.nav > li > a,.tab-content > .active,.pill-content > .active{display:block}
.tab-content{overflow:auto}
#content .nav-tabs{position:relative;top:1px;left:1px;margin:0;float:left;display:table}
#content .nav-tabs li{padding:0;margin-right:1px;float:left;display:list-item}
#content .nav-tabs li.active a{color:#fff;background-color: #368ccc;border: 1px solid #368ccc;}
#content .nav-tabs li a{display:block;padding:15px 14px}
.nav-tabs a{font-family:'Yanone Kaffeesatz',sans-serif;font-size:20px;font-weight:400;text-decoration:none} 
.tab-content{position:relative;clear:both;margin-bottom:20px;overflow-x: hidden}
.tab-pane{padding:28px 20px 36px;border-top:1px solid #e0e0e0;border-right:1px solid #e0e0e0;border-left:1px solid #e0e0e0}
.bottom-pattern-line{position:absolute;bottom:0px;left:-1px;width:100%;height:36px;background:url(images/38.png) no-repeat 0 0px #fff}
.bottom-pattern-right{position:absolute;bottom:0px;right:1px;width:35px;height:21px;background:url(images/39.png) no-repeat left bottom}	

/* [33. alert]
------------------------------------------------------------------*/
.alert{position:relative;padding:12px 30px;margin-bottom:27px;background-repeat:no-repeat;background-position:18px 12px;border:1px solid #d7d6d6}
.close-alert{width:18px;height:18px;display:block;position:absolute;top:16px;right:18px}
	.general{background-image:url(images/27.png);background-color:#fbdd96}
	.general .close-alert{background:url(images/32.png) no-repeat}	
	.info{background-image:url(images/28.png);background-color:#e6ecf7}						
	.info .close-alert{background:url(images/33.png) no-repeat}
	.success{background-image:url(images/30.png);background-color:#e5f4cb}
	.success .close-alert{background:url(images/34.png) no-repeat}
	.error{background-image:url(images/31.png);background-color:#ffc9c9}
	.error .close-alert{background:url(images/35.png) no-repeat}	

/* [34. award]
------------------------------------------------------------------*/
.award{position:relative;max-width:100%;overflow:hidden;display:block;text-decoration:none;margin-bottom:30px;opacity:0.5}	
.award:hover{margin:0;padding-bottom:3px;background-repeat:repeat-x;background-position:bottom;border-bottom:0px}	
.award img{max-width:100%}

/* [35. accordion]
------------------------------------------------------------------*/
.accordion{margin-bottom:20px}
.accordion-group{margin-bottom:5px}
.accordion-heading{border-bottom:0;position:relative}
.accordion-heading .accordion-toggle{font-size:19px;font-family:'Yanone Kaffeesatz';text-decoration:none;display:block;padding:12px 20px;cursor:pointer}
.accordion-inner{padding:9px 15px}
.marker{width:26px;height:26px;position:absolute;right:13px;top:11px}
.target .marker{background:url(images/37.png) no-repeat}	

/* [36. service option]
------------------------------------------------------------------*/  
.link-block{color:#6d6e71;overflow:hidden;text-align:center;padding:16px 18px;margin-bottom:23px;display:block;text-decoration:none;border:1px solid #e0e0e0}
.link-block:hover{background-repeat:repeat-x;background-position:bottom;color:#bebfc0;margin-bottom:24px;border-bottom:0px}
.move-item{position:relative}
.move-bg-icon{width:62px;height:62px;display:inline-block;background-repeat:no-repeat;background-position:center;overflow:hidden;-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px}
.link-block:hover .move-bg-icon{background-color:#c5bcbc}
	/* [37. icon]
	------------------------------------------------------------------*/ 
	.address-book{background-image:url(images/icons/Address-book.png)} 
	.ambulance{background-image:url(images/icons/Ambulance.png)} 
	.anatomy{background-image:url(images/icons/Anatomy.png)} 
	.angel{background-image:url(images/icons/Angel.png)} 
	.appointment{background-image:url(images/icons/Appointment.png)} 
	.baby{background-image:url(images/icons/Baby.png)} 
	.bad-mark{background-image:url(images/icons/Bad-mark.png)} 
	.bad-tooth{background-image:url(images/icons/Bad-tooth.png)} 
	.balance{background-image:url(images/icons/Balance.png)} 
	.bar-chart{background-image:url(images/icons/Bar-chart.png)} 
	.bio-hazard{background-image:url(images/icons/Bio-hazard.png)} 
	.blood-test{background-image:url(images/icons/Blood-test.png)} 
	.book-library{background-image:url(images/icons/Book-library.png)} 
	.book-of-record{background-image:url(images/icons/Book-of-record.png)} 
	.box{background-image:url(images/icons/Box.png)} 
	.boy{background-image:url(images/icons/Boy.png)} 
	.brain{background-image:url(images/icons/Brain.png)} 
	.briefcase{background-image:url(images/icons/Briefcase.png)} 
	.bug{background-image:url(images/icons/Bug.png)} 
	.cme-certificate{background-image:url(images/icons/CME-certificate.png)} 
	.card-file{background-image:url(images/icons/Card-file.png)} 
	.card-index{background-image:url(images/icons/Card-index.png)} 
	.cardiogram{background-image:url(images/icons/Cardiogram.png)} 
	.cardiologist{background-image:url(images/icons/Cardiologist.png)} 
	.cardiology{background-image:url(images/icons/Cardiology.png)} 
	.case-history{background-image:url(images/icons/Case-history.png)} 
	.case{background-image:url(images/icons/Case.png)} 
	.certificate-seal{background-image:url(images/icons/Certificate-seal.png)} 
	.certification{background-image:url(images/icons/Certification.png)} 
	.chart{background-image:url(images/icons/Chart.png)} 
	.check-tooth{background-image:url(images/icons/Check-tooth.png)} 
	.chemical-analisys{background-image:url(images/icons/Chemical-analisys.png)} 
	.chemical-calculations{background-image:url(images/icons/Chemical-calculations.png)} 
	.chemistry{background-image:url(images/icons/Chemistry.png)} 
	.cheque{background-image:url(images/icons/Cheque.png)} 
	.children{background-image:url(images/icons/Children.png)} 
	.computer-doctor{background-image:url(images/icons/Computer-doctor.png)} 
	.consultation{background-image:url(images/icons/Consultation.png)} 
	.cut{background-image:url(images/icons/Cut.png)} 
	.dna{background-image:url(images/icons/DNA.png)} 
	.death{background-image:url(images/icons/Death.png)} 
	.demography{background-image:url(images/icons/Demography.png)} 
	.dentist{background-image:url(images/icons/Dentist.png)} 
	.dish-aerial{background-image:url(images/icons/Dish-aerial.png)} 
	.doctor-info{background-image:url(images/icons/Doctor-info.png)} 
	.doctor{background-image:url(images/icons/Doctor.png)} 
	.drugs{background-image:url(images/icons/Drugs.png)} 
	.drugstore{background-image:url(images/icons/Drugstore.png)} 
	.ear{background-image:url(images/icons/Ear.png)} 
	.ecology{background-image:url(images/icons/Ecology.png)} 
	.empty-card-index{background-image:url(images/icons/Empty-card-index.png)} 
	.empty-phial{background-image:url(images/icons/Empty-phial.png)} 
	.exit{background-image:url(images/icons/Exit.png)} 
	.eye{background-image:url(images/icons/Eye.png)} 
	.family{background-image:url(images/icons/Family.png)} 
	.favourites{background-image:url(images/icons/Favourites.png)} 
	.female{background-image:url(images/icons/Female.png)} 
	.filter{background-image:url(images/icons/Filter.png)} 
	.find{background-image:url(images/icons/Find.png)} 
	.first-aid{background-image:url(images/icons/First-aid.png)} 
	.fitness{background-image:url(images/icons/Fitness.png)} 
	.food{background-image:url(images/icons/Food.png)} 
	.formula{background-image:url(images/icons/Formula.png)} 
	.four-leafed-clover{background-image:url(images/icons/Four-leafed-clover.png)} 
	.fruits{background-image:url(images/icons/Fruits.png)} 
	.girl{background-image:url(images/icons/Girl.png)} 
	.good-mark{background-image:url(images/icons/Good-mark.png)} 
	.graph{background-image:url(images/icons/Graph.png)} 
	.gymnastics{background-image:url(images/icons/Gymnastics.png)} 
	.hand{background-image:url(images/icons/Hand.png)} 
	.handicap{background-image:url(images/icons/Handicap.png)} 
	.head-physician{background-image:url(images/icons/Head-physician.png)} 
	.health-care-shield{background-image:url(images/icons/Health-care-shield.png)} 
	.health-care{background-image:url(images/icons/Health-care.png)} 
	.help{background-image:url(images/icons/Help.png)} 
	.home{background-image:url(images/icons/Home.png)} 
	.hospital-nurse{background-image:url(images/icons/Hospital-nurse.png)} 
	.hospital{background-image:url(images/icons/Hospital.png)} 
	.house{background-image:url(images/icons/House.png)} 
	.inf{background-image:url(images/icons/Info.png)} 
	.information{background-image:url(images/icons/Information.png)} 
	.inhaler{background-image:url(images/icons/Inhaler.png)} 
	.insurance-agent{background-image:url(images/icons/Insurance-agent.png)} 
	.insurance{background-image:url(images/icons/Insurance.png)} 
	.invoice{background-image:url(images/icons/Invoice.png)} 
	.knife{background-image:url(images/icons/Knife.png)} 
	.knowledge{background-image:url(images/icons/Knowledge.png)} 
	.labs{background-image:url(images/icons/Labs.png)} 
	.lungs{background-image:url(images/icons/Lungs.png)} 
	.male{background-image:url(images/icons/Male.png)} 
	.man{background-image:url(images/icons/Man.png)} 
	.marijuana{background-image:url(images/icons/Marijuana.png)} 
	.measuring-glass{background-image:url(images/icons/Measuring-glass.png)} 
	.medical-bag{background-image:url(images/icons/Medical-bag.png)} 
	.medical-insurance{background-image:url(images/icons/Medical-insurance.png)} 
	.medical-invoice-info{background-image:url(images/icons/Medical-invoice-info.png)} 
	.medical-invoice-information{background-image:url(images/icons/Medical-invoice-information.png)} 
	.medical-invoice{background-image:url(images/icons/Medical-invoice.png)} 
	.medical-store{background-image:url(images/icons/Medical-store.png)} 
	.medical-symbol{background-image:url(images/icons/Medical-symbol.png)} 
	.medical{background-image:url(images/icons/Medical.png)} 
	.medicine{background-image:url(images/icons/Medicine.png)} 
	.meeting{background-image:url(images/icons/Meeting.png)} 
	.microscope{background-image:url(images/icons/Microscope.png)} 
	.monitor{background-image:url(images/icons/Monitor.png)} 
	.more{background-image:url(images/icons/More.png)} 
	.mosquito{background-image:url(images/icons/Mosquito.png)} 
	.mouth{background-image:url(images/icons/Mouth.png)} 
	.natural-drug{background-image:url(images/icons/Natural-drug.png)} 
	.news{background-image:url(images/icons/News.png)} 
	.open-card-index{background-image:url(images/icons/Open-card-index.png)} 
	.out{background-image:url(images/icons/Out.png)} 
	.patient-details{background-image:url(images/icons/Patient-details.png)} 
	.patient-group{background-image:url(images/icons/Patient-group.png)} 
	.patient-info{background-image:url(images/icons/Patient-info.png)} 
	.patient{background-image:url(images/icons/Patient.png)} 
	.patients{background-image:url(images/icons/Patients.png)} 
	.payment{background-image:url(images/icons/Payment.png)} 
	.people{background-image:url(images/icons/People.png)} 
	.person{background-image:url(images/icons/Person.png)} 
	.pets{background-image:url(images/icons/Pets.png)} 
	.physician{background-image:url(images/icons/Physician.png)} 
	.pill{background-image:url(images/icons/Pill.png)} 
	.pills-pack{background-image:url(images/icons/Pills-pack.png)} 
	.pills{background-image:url(images/icons/Pills.png)} 
	.pin{background-image:url(images/icons/Pin.png)} 
	.pipette{background-image:url(images/icons/Pipette.png)} 
	.plant{background-image:url(images/icons/Plant.png)} 
	.podcast{background-image:url(images/icons/Podcast.png)} 
	.price-list{background-image:url(images/icons/Price-list.png)} 
	.problem{background-image:url(images/icons/Problem.png)} 
	.professor{background-image:url(images/icons/Professor.png)} 
	.profile{background-image:url(images/icons/Profile.png)} 
	.psyhoanalyst{background-image:url(images/icons/Psyhoanalyst.png)} 
	.query{background-image:url(images/icons/Query.png)} 
	.question{background-image:url(images/icons/Question.png)} 
	.radiation{background-image:url(images/icons/Radiation.png)} 
	.radiology{background-image:url(images/icons/Radiology.png)} 
	.receptionist{background-image:url(images/icons/Receptionist.png)} 
	.reference{background-image:url(images/icons/Reference.png)} 
	.relaxation{background-image:url(images/icons/Relaxation.png)} 
	.report{background-image:url(images/icons/Report.png)} 
	.reports{background-image:url(images/icons/Reports.png)} 
	.retort{background-image:url(images/icons/Retort.png)} 
	.scales{background-image:url(images/icons/Scales.png)} 
	.science-symbol{background-image:url(images/icons/Science-symbol.png)} 
	.science{background-image:url(images/icons/Science.png)} 
	.scientist{background-image:url(images/icons/Scientist.png)} 
	.scores{background-image:url(images/icons/Scores.png)} 
	.search{background-image:url(images/icons/Search.png)} 
	.secretary{background-image:url(images/icons/Secretary.png)} 
	.sex{background-image:url(images/icons/Sex.png)} 
	.shock{background-image:url(images/icons/Shock.png)} 
	.sound-tooth{background-image:url(images/icons/Sound-tooth.png)} 
	.spectacles{background-image:url(images/icons/Spectacles.png)} 
	.station{background-image:url(images/icons/Station.png)} 
	.stethoscope{background-image:url(images/icons/Stethoscope.png)} 
	.stomatologist{background-image:url(images/icons/Stomatologist.png)} 
	.storage{background-image:url(images/icons/Storage.png)} 
	.student{background-image:url(images/icons/Student.png)} 
	.sun-glasses{background-image:url(images/icons/Sun-glasses.png)} 
	.surgeon{background-image:url(images/icons/Surgeon.png)} 
	.syringe{background-image:url(images/icons/Syringe.png)} 
	.tablet{background-image:url(images/icons/Tablet.png)} 
	.tag{background-image:url(images/icons/Tag.png)} 
	.teeth{background-image:url(images/icons/Teeth.png)} 
	.telephone-directory{background-image:url(images/icons/Telephone-directory.png)} 
	.test-tube{background-image:url(images/icons/Test-tube.png)} 
	.test-tubes{background-image:url(images/icons/Test-tubes.png)} 
	.thermometer{background-image:url(images/icons/Thermometer.png)} 
	.tick{background-image:url(images/icons/Tick.png)} 
	.tooth-brush{background-image:url(images/icons/Tooth-brush.png)} 
	.tooth-status{background-image:url(images/icons/Tooth-status.png)} 
	.tooth{background-image:url(images/icons/Tooth.png)} 
	.topics{background-image:url(images/icons/Topics.png)} 
	.vaccinations{background-image:url(images/icons/Vaccinations.png)} 
	.vaccine{background-image:url(images/icons/Vaccine.png)} 
	.veterinary{background-image:url(images/icons/Veterinary.png)} 
	.view{background-image:url(images/icons/View.png)} 
	.virus{background-image:url(images/icons/Virus.png)} 
	.water-drop{background-image:url(images/icons/Water-drop.png)} 
	.weight{background-image:url(images/icons/Weight.png)} 
	.woman{background-image:url(images/icons/Woman.png)} 
	.x-ray{background-image:url(images/icons/X-ray.png)} 
	.zoom{background-image:url(images/icons/Zoom.png)}    

/* [38. meet our doctors 1]
------------------------------------------------------------------*/ 
.link-img{position:relative;display:block;max-width:100%;overflow:hidden;display:block;text-decoration:none;margin-bottom:6px}
.link-img:hover{margin:0;padding-bottom:6px}
.img-border{border:1px solid #e7e7e7}
.img-block{margin:6px 6px 5px;position:relative}
.link-img .group{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);position:absolute;top:0px;left:0px;text-align:center!important;vertical-align:middle;width:100%;height:100%;display:block;background:url(images/40.png) no-repeat center}
.link-img .group.text p{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);text-align:left;font-style:normal;padding:0 10px;color:#f2f0f2}
.link-img-bg{opacity:0;width:100%;position:absolute;top:0px;left:0px;height:100%;background:rgba(0,0,0,0.8)}
.link-img h4{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);width:100%;position:absolute;top:70%;text-align:center}
.link-img p{color:#fff;font-style:italic;width:100%;position:absolute;top:80%;text-align:center}
.link-img img{max-width:100%}	

/* [39. table]
------------------------------------------------------------------*/ 
.column{float:left;width:235px;margin-bottom:20px}
.column h4{padding:10px 20px 15px;margin-bottom:2px}
#content .col{padding-right:2px}
#content .col li{margin-bottom:1px;padding:13px 20px;color:#58595b;font-size:14px;background:#ededea}
#content .col li.row-odd{background:#f5f5f3}

/* [40. price table]
------------------------------------------------------------------*/ 
.pricecolumn{float:left;width:235px;text-align:center}
.pricecolumn h3{border-top:7px solid #fff;padding:15px 20px 20px;margin-bottom:2px}
#content .pricecolumn .col li{background:#f5f5f3}  
#content .col li.title-td{padding:0px}
#content .col li.price-td{font-family:'Open Sans',sans-serif;line-height:1;background:#ededea}
.dollar{position:absolute;top:23px;left:-15px;font-family:'Yanone Kaffeesatz',sans-serif;font-size:34px}
.number{position:relative;font-size:78px}
.cents{position:absolute;top:23px;right:25px;font-size:28px}
.time{bottom:20px;right:-20px;font-size:34px;font-style:italic}
#content .col li.button-td{padding:0}
.button-price{border-bottom:7px solid #fff;margin-bottom:7px;font-family:'Yanone Kaffeesatz';font-size:23px;text-decoration:none;display:block;padding:10px 0 13px;width:100%}

/* [41. make an appointment]
------------------------------------------------------------------*/ 
.contact{display:block;padding:2px 0 4px 36px;color:#58595b;font-family:'Yanone Kaffeesatz',sans-serif;font-size:16px}
.phone{background:url(images/24.png) no-repeat 7px center}
.email{background:url(images/25.png) no-repeat 5px center}

/* [42. bootstrap elements]
------------------------------------------------------------------*/ 
.collapse{position:relative;height:0;overflow:hidden;-webkit-transition:height .35s ease;-moz-transition:height .35s ease;-o-transition:height .35s ease;transition:height .35s ease}
.collapse.in{height:auto}
.fade {opacity:0;-webkit-transition:opacity 0.15s linear;-moz-transition:opacity 0.15s linear;-o-transition:opacity 0.15s linear;transition:opacity 0.15s linear}
.fade.in {opacity:1}	

/* [43. pages under construction & 404]
------------------------------------------------------------------*/  
.under-wrapper{height:100%;position:relative}
.under-sub-wrapper{min-height:100%}
#header-under .social-icons{position:relative;margin-top:65px;right:10px;text-align:right}	
.under-page,.under-404{padding:45px 0;text-align:center;background:#f2f0f0;border:1px solid #eceaec;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.under-404{padding:25px 0;position:relative;top:5px;margin-bottom:40px}
.under-headline{color:#6d6e71;font-size:26px;font-family:'Yanone Kaffeesatz';padding-bottom:45px;display:block}
.headline-404{font-size:215px;line-height:0.5;font-family:'Yanone Kaffeesatz'}
.under-wrapper .date{margin-bottom:40px;background:#fff;font-size:127px;font-family:'Yanone Kaffeesatz';color:#7b7d7e;border:1px solid #e5e5e5;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.offset-under{margin-left:140px}
#footer-under-padding{clear:both;width:100%;height:100px;float:left}
#footer-under{margin-top:-60px;height:40px;padding-top:20px;clear:both}

/* [44. blog]
------------------------------------------------------------------*/
.blog-line{background:#faf9f9;font-family:'Open Sans',sans-serif;font-size:12px;padding:10px 0;margin-bottom:20px}
.blog-line a{text-decoration:none}
.blog-line a:hover{text-decoration:underline}
.blog-line .item{padding-left:20px;margin-left:15px}
.blog-line .date{background:url(images/46.png) no-repeat center left}
.blog-line .author{background:url(images/47.png) no-repeat center left}
.blog-line .category{background:url(images/48.png) no-repeat center left}
.blog-line .commets{background:url(images/49.png) no-repeat center left}

/* [45. comments]
------------------------------------------------------------------*/
#content .commentlist{margin-top:-10px}
#content .commentlist li{position:relative;color:#58595b;padding:20px 0 0 0;float:left;border-bottom:1px solid #ebeaea}
.comments-container {width:100%;float:left;margin-bottom:20px}
.the-comment{position:relative}
.comments-container .avatar{position:absolute;top:2px;left:0px;margin-right:20px}
.comments-container .comment-box{padding-left:80px}
#content .commentlist .children li{padding:20px 0 0 80px;border:0;border-top:1px solid #ebeaea}
.comment-author{padding-bottom:10px}
.comment-author a{text-decoration:none}
.comment-author a:hover{text-decoration:underline}

/* [46. responsive]
------------------------------------------------------------------*/
@media (max-width:979px){
	/* header */
	#header [class*=span]{float:none;display:block;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
	#header,#header .header-bg,#header.main,#header.main .header-bg{background:none;height:auto;margin-bottom:10px}
	#header .container{background:url(images/05.jpg) no-repeat center top}
	#header .social-icons{top:-43px;margin-top:20px;right:0;text-align:center;float:none}
	.search-form{top:-25px;right:50%;margin-right:-96px;border:1px solid #ededed}
	.container-fluid{padding:0 20px}
	#logo{text-align:center} 
	#headline-page{margin-top:0;height:66px}	
	/* up */	  
	.back-top{position:relative;bottom:29px;left:50%;right:0px;margin:0;margin-left:-50px}
	#headline-page{position:relative;top:0}
	.ls-inner{height:260px!important;overflow:hidden}
	.ls-layer{height:100%!important}
	.main-slider{height:310px;background:none}
	.ls-bottom-slidebuttons{width:100%;text-align:center;bottom:-50px}
	.ls-s1 img{height:120%;width:auto}
	.ls-s2{top:40px!important;left:15px!important;width:400px;height:183px}
	.ls-s3{top:170px!important;left:155px!important}
	.ls-s4{top:100px!important;left:90px!important;width:290px}
	.ls-s5{top:60px!important;left:70px!important;font-size:28px}
}	
@media (min-width:768px) and (max-width:979px){
	#header .span12{margin-left:20px;width:724px}
	.link-img h4{margin-top:100px}
}	
@media (max-width:767px){
	#header .span12{margin-left:0px}
	#menu{padding:0 20px;background:none;display:block}
	#menu li{width:100%;margin-bottom:1px}
	#menu li a{text-align:center}
	.row [class*=span],.row-fluid [class*=span]{clear:both}  
	.blockquote-left,.blockquote-right{width:100%}
	.award{float:left;margin-bottom:10px}	
	.award:hover{margin-bottom:6px;padding-bottom:4px}	
	.under-page,.under-404{padding:0 20px}
	.main-slider{height:240px}
	.ls-inner{height:200px!important;overflow:hidden}
	.ls-s2{top:20px!important;left:-45px!important;width:310px;height:142px}
	.ls-s3{top:100px!important;left:20px!important}
	.ls-s5{top:50px!important;left:20px!important;font-size:28px}
	.ls-s6{height:120%}
}
.login-main {
	width: 300px;
	height: 100px;
	position: fixed;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #005291;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 0px;
}
.login-main p {
	text-indent: 10px;
	border: none;
}
.box1 {
	background: #dfeaf3;
	height: 40px;
	text-indent: 10px;
	width: 90%;
	margin-bottom: 2px;
	color: #368ccc;
	font-size: 15px;
	font-weight: 400;
}
.border1 {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.border2 {
	-webkit-border-radius: 0px 0 5px 5px;
	-moz-border-radius: 0px 0 5px 5px;
	-ms-border-radius: 0px 0 5px 5px;
	-o-border-radius: 0px 0 5px 5px;
	border-radius: 0px 0 5px 5px;
}
.send {
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	right: 9px;
	top: 25px;
	border: 3px solid #009ed5;
	background: #005291;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	text-shadow: 1px 1px 2px #000;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.send.gradient {
    background: -moz-linear-gradient(top,  #0163ae 50%, #005291 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#0163ae), color-stop(50%,#005291)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0163ae 50%,#005291 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0163ae 50%,#005291 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0163ae 50%,#005291 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #0163ae 50%,#005291 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0163ae', endColorstr='#005291',GradientType=0 ); /* IE6-9 */
}
.send.gradient:hover, .send.gradient:focus, .send.gradient:active, .send.gradient.active, .open > .dropdown-toggle.send {
    background: -moz-linear-gradient(top,  #1f7bc1 50%, #156eb3 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#1f7bc1), color-stop(50%,#156eb3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1f7bc1 50%,#156eb3 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1f7bc1 50%,#156eb3 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1f7bc1 50%,#156eb3 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #1f7bc1 50%,#156eb3 50%); /* W3C */
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f7bc1', endColorstr='#156eb3',GradientType=0 ); /* IE6-9 */
	animation: spin 0.3s ease-in-out;
	-webkit-animation: spin 0.3s ease-in-out;
	-moz-animation: spin 0.3s ease-in-out;
	-ms-animation: spin 0.3s ease-in-out;
	-o-animation: spin 0.3s ease-in-out;
  	cursor: pointer;
}
.send.gradient:active, .send.gradient.active {
    background: -moz-linear-gradient(top,  #10a9d7 50%, #069dca 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#10a9d7), color-stop(50%,#069dca)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #10a9d7 50%,#069dca 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #10a9d7 50%,#069dca 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #10a9d7 50%,#069dca 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #10a9d7 50%,#069dca 50%); /* W3C */
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10a9d7', endColorstr='#069dca',GradientType=0 ); /* IE6-9 */
}
.login-form{
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}
.login-box-body, .register-box-body {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border-top: rgba(27, 126, 90, 0.3);
    color: #bfbfbf;
    padding: 40px;
    border-style: solid;
    border-color: rgba(27, 126, 90, 0.3);
}
.a-log {
    color: #fff;
}
.a-log:hover {
    color: #c6d2e1;
}

.form-logs {
  background: #e9e9e9;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #33b5e5;
}
.pen-title span a {
  color: #33b5e5;
  font-weight: 600;
  text-decoration: none;
}

/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #3f9add;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #3f9add;
  width: 60px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module input,
.form-module select {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 10px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module input:focus {
  border: 1px solid #3f9add;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: #368ccc;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module button:hover {
  background: #178ab4;
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form-module .cta a {
  color: #333333;
  text-decoration: none;
}
.pad-log{
	padding-bottom: 1em;
}
.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group .form-control {
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
.btn {
    margin-bottom: 10px;
    margin-right: 6px;
}
.btn.btn-file > input[type="file"] {
    background: white none repeat scroll 0 0;
    cursor: inherit;
    display: block;
    font-size: 100px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    outline: medium none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
 }
.main-bgimg{
	width: 940px;
}
/*ljewbljwebf*/
/** Home Page **/


/** Login Page **/
#login {
    padding-top: 10px;
    padding-bottom: 10px;
}

#login .form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
#login .form-signin .form-signin-heading,
#login .form-signin .checkbox {
    margin-bottom: 10px;
}
#login .form-signin input[type="text"],
#login .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/** 2 level sub menu **/
.dropdown-menu-with-subs .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu-with-subs li:hover .sub-menu {
  visibility: visible;
  display: block;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}
.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}

/** Global **/
#content {
  margin-left:0px;
}
.hide-sidebar, .show-sidebar {
  cursor: pointer;
}
.padd-bottom {
  margin-bottom: 5px;
}
.breadcrumb {
	margin: 0 0 0px;
	padding: 10px 0px;
	background-color: transparent;
}

.block {
	border: 1px solid #ccc;
	background: white;
	margin: 1em 0em;
	border-top: none;
}

.block-content {
	margin: 1em;
	min-height: .25em;
}

.block-header {
	margin-bottom: 0px;
	border-right: none;
	border-left: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.block-header div {
	padding-top: 10px;
}

.easyPieChart {
	margin: 0px auto;
}

.chart-bottom-heading {
	margin-top: 5px;
	text-align: center;
}

/** Side Bar **/
.bs-docs-sidenav {
  max-width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* Icons
------------------------- */
.the-icons {
  margin-left: 0;
  list-style: none;
}
.the-icons li {
  float: left;
  width: 25%;
  line-height: 25px;
}
.the-icons i:hover {
  background-color: rgba(255,0,0,.25);
}


.control-label .required {
  color: #e02222;
  font-size: 12px;
  padding-left: 2px;
}

ul.square {
	list-style-type: square;
}
ul.rada-kiri li {
	margin-left: 40px;
}

.lebar-header{
	width: 940px;
}

/*============= Contact us ==========*/
.contact_us_container {
	padding-top:15px;
	overflow: hidden;
}
.contact_us_container p {
	font-style: italic;
	font-size: 1em;
	color: #898989;
	padding-top: 36px;
}
.contact_us_container .address_holder {
	font-size: 0.875em;
	color: #898989;
	line-height: 25px;
}
.contact_us_container .icon_holder span {
	display: block;
	color: #12a0b1;
	font-size: 2.8em;
    padding-right: 34px;
    padding-top: 6px;
}
.contact_us_container .form_holder {
	margin-top:23px;
	padding-right: 83px;
}
.contact_us_container .address {
	margin-top: 20px;
    padding-left: 39px;
    background: #f6f6f8;
    height:450px;
    padding-top: 35px;
    position: relative;
    z-index: 99;
}
.contact_us_container .address:before {
	content: '';
	width:2px;
	height:100%;
	background: #12a0b1; 
	position:absolute;
	left:-13px;
	top:0;
}
.contact_us_container .address:after {
	content: '';
	width:25px;
	height:100%;
	background: #f6f6f8; 
	position:absolute;
	left:-13px;
	top:0;
	z-index: -1;
}
.contact_us_container .address address {
	height:170px;
	border-bottom: 1px solid #e7e7ed;
	margin:0;
}
.contact_us_container .address address:nth-child(1) {
	padding-top: 19px;
}
.contact_us_container .address address:nth-child(2) {
	padding-top: 31px;
}
.contact_us_container .address address:nth-child(3) {
	padding-top: 32px;
	border:none;
}
.google-map {
	margin-top:100px;
	width:100%;
	height:467px;
}