#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
    
}


#facebox .popup{
  position:relative;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 20px rgba(0,0,0,0.4);
}

#facebox .content {
  width: 400;
  background: #ffffff;
  background-color: #ffffff;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}
#facebox .close{
  position:absolute;
  top:6px;
  right:9px;
  padding:2;
  margin:4px;
  background:#DCDCDC
}
#facebox.close img{
  opacity:0.3;
}
#facebox .close:hover img{
  display: table;
  float: right;
  opacity: 1;
}
#facebox img {
  border: 0;
  padding:1;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}