
body, div, h1, form, fieldset, input, textarea {
	margin: 0; padding: 0; border: 0; outline: none;
}

html {
	height: 100%;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #9aa2a7;
    font-family: Verdana ;
	font-style:italic;
}
 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #9aa2a7;
    font-family: Verdana ;
	font-style:italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #9aa2a7;
    font-family: Verdana ;
	font-style:italic;
}
 
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #9aa2a7;
    font-family: Verdana ;
	font-style:italic;
}

.title{
	font-family: Verdana;
	font-size:15;
}
.style1 {
	font-style:normal;
	font-size: 11px;
	color:blue;
	font-family: "Verdana";
}
.style2 {font-weight: bold;
	font-size: 25px;
	color:#fff;
	font-family: "Century Ghotic";
}
.brdr {
border-top: 1px dashed; height:4px; width:340; border-color:#D3D3D3; margin-top:2px; margin-bottom:4px;
}
h1{
 font-size:16px; font-family: Arial; color:#415D79; float:left; 
}
header {
	width: 96.5%;
	background: #43647a;
	font-family: Verdana;
	font-size: 15px;
	text-align: left;
	color:#fff;
	padding:4;
	padding-left:10px;
	margin-bottom:16px;
}
footer{
  width: 98.5%;
  background: #43647a;
  padding:3; text-align: right;
}

label {
	float:left; clear: left; width: 125px; height: 20px; margin:4px 10px 0px 10px; font-family: Arial;
	text-align: right; font-size: 12px; color: #1886BA; text-shadow: 0px 1px 0px #f2f2f2;
}
input {
	height: 20px; padding-left:2; margin-top:2px; margin-bottom:2px;
	border: 1px solid #5F9EAD; font-family: Arial bold; font-size: 13px; text-transform: none;
	 
}

textarea {
	width: 210px; clear:left; height:130px; margin-top:3; padding-left:2;
	background: #fff; background:#64950;
	border: 1px solid #5F9EAD; -webkit-box-shadow: 0px 1px 0px #f2f2f2; -moz-box-shadow: 0px 1px 0px #f2f2f2;
	font-family: Arial; font-size: 13px; color: #64950; text-shadow: 0px -1px 0px #334f71;  text-transform: none;	 
}

input:focus, textarea:focus {
	background: #EDF4F5;
	color: #64950; 
}
input[type=submit]:active, input[type=button]:active{
	padding:5 8 5 8; margin:2px 3px 2px 3px; font-size: 13px; background:#fff; color:#415D79;
}
input[type=submit] {
	width: auto; height: auto; padding:5 8 5 8; margin:2px 3px 2px 3px;
	-moz-box-shadow: 0px 0px 5px #fff;-webkit-box-shadow: 0px 0px 5px #fff;
	border: 1px solid #556f8c; background:#537b97;
	cursor: pointer; color: #fff;
}
input[type=button] {
	width: auto; height: auto; padding:5 8 5 8; margin:2px 3px 2px 3px;
	-moz-box-shadow: 0px 0px 5px #fff;-webkit-box-shadow: 0px 0px 5px #fff;
	border: 1px solid #556f8c; background:#537b97;
	cursor: pointer; color: #fff;
}

.searchinput{
		margin:0;
		padding: 5px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:13px;
		border:1px solid #0076a3; border-right:0px;
	}
	.searchbutton {
		margin-left: -5px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:13px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	}
	.searchbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.searchbutton::-moz-focus-inner {
	  border: 0;
	}


