/* LayerSlider Styles */ 
/*.ls-container{visibility:hidden;position:relative}.ls-inner{position:relative;background-position:center center}.ls-inner,.ls-layer{width:100%;height:100%}.ls-layer{position:absolute;display:none;background-position:center center;overflow:hidden}.ls-layer *{margin:0;line-height:normal}.ls-active,.ls-animating{display:block!important}.ls-layer > *{position:absolute;left:0;top:0}.ls-layer .ls-bg{left:50%;top:50%}.ls-yourlogo{position:absolute;z-index:99}.ls-bottom-nav-wrapper{height:0}.ls-bottom-nav-wrapper,.ls-below-thumbnails{z-index:2;height:0;position:relative;text-align:center;margin:0 auto}.ls-below-thumbnails{display:none;z-index:6}.ls-bottom-nav-wrapper a,.ls-nav-prev,.ls-nav-next{outline:none}.ls-bottom-slidebuttons{position:relative;float:right;z-index:1000}.ls-bottom-slidebuttons,.ls-nav-start,.ls-nav-stop,.ls-nav-sides{position:relative}.ls-vpcontainer{width:100%;height:100%;position:absolute;left:0;top:0}.ls-videopreview{width:100%;height:100%;position:absolute;left:0;top:0;cursor:pointer}.ls-playvideo{position:absolute;left:50%;top:50%;cursor:pointer}.ls-tn{display:none!important}.ls-thumbnail-hover{display:none;position:absolute;left:0}.ls-thumbnail-hover-inner{width:100%;height:100%;position:absolute;left:0;top:0;display:none}.ls-thumbnail-hover-bg{position:absolute;width:100%;height:100%;left:0;top:0}.ls-thumbnail-hover-img{position:absolute;overflow:hidden}.ls-thumbnail-hover img{max-width:none!important;position:absolute;display:inline-block;left:50%;top:0}.ls-thumbnail-hover span{left:50%;top:100%;width:0;height:0;display:block;position:absolute;border-left-color:transparent!important;border-right-color:transparent!important;border-bottom-color:transparent!important}.ls-thumbnail-wrapper{position:relative;width:100%;margin:0 auto;z-index:4}.ls-thumbnail{position:relative;margin:0 auto}.ls-thumbnail-inner,.ls-thumbnail-slide-container{width:100%}.ls-thumbnail-slide-container{overflow:hidden!important;position:relative}.ls-thumbnail-slide{text-align:center;white-space:nowrap;float:left;position:relative}.ls-thumbnail-slide a{overflow:hidden;display:inline-block;width:0;height:0;position:relative}.ls-thumbnail-slide img{max-width:none!important;max-height:100%!important;height:100%}.ls-shadow{display:none;position:absolute;z-index:1;top:100%;width:100%;left:0}.ls-shadow img{width:100%;height:100%;position:absolute;left:0;top:0}.ls-wp-fullwidth-container{width:100%;position:relative}.ls-wp-fullwidth-helper{position:absolute}.ls-container img{max-width:none!important}.ls-container img,.entry-content .ls-container img,.comment-content .ls-container img,.widget .ls-container img{border-radius:0;box-shadow:none}.entry-content .ls-container *,.comment-content .ls-container *,.widget .ls-container *{line-height:normal;padding:0;outline:none;border:0}.entry-content .ls-yourlogo,.entry-content .ls-inner *,.comment-content .ls-inner *,.widget .ls-inner *{margin:0}.entry-content .ls-tn,.comment-content .ls-tn,.widget .ls-tn{display:none}
.layerslider{
	width: 100%; 
	height: 380px; 
	visibility: visible;
}
.ls-inner{
	width: 1149px; 
	height: 380px; 
	background-color: rgba(0, 0, 0, 0);
}
.ls-layer{
	width: 0px; 
	height: 380px; 
	visibility: visible; 
	display: none; 
	left: 0px; 
	right: auto; 
	top: 0px; 
	bottom: auto;
}
.ls-s1{
	z-index: 2; 
	top: 0px; 
	left: -100px; 
	margin-left: 513px; 
	margin-top: 0px; 
	display: block;
}
.ls-s2{
	z-index: 3; 
	top: 80px; 
	left: 35px; 
	margin-left: -1026px; 
	margin-top: 0px; 
	display: block; 
	width: 100%;
}
.ls-s3{
	z-index: 4; 
	top: 230px; 
	left: 190px; 
	margin-left: 0px; 
	margin-top: 513px; 
	display: block;
}
.ls-s4{
	z-index: 5; 
	top: 160px; 
	left: 150px; 
	margin-left: 2052px; 
	margin-top: 0px; 
	display: block;
}
.ls-s5{
	z-index: 6; 
	top: 100px; 
	left: 120px; 
	margin-left: 0px; 
	margin-top: -855px; 
	display: block;
}
.ls-s6{
	top: 0px; 
	left: 912px; 
	margin-left: 3078px; 
	margin-top: 0px; 
	display: block;
}
.ls-bg.bg1{
	z-index: 1; 
	right: 0px; 
	width: 930px; 
	height: 380px; 
	margin-left: -470px !important; 
	margin-top: -190px;
}
.ls-active{
	width: 1149px; 
	height: 380px; 
	visibility: visible; 
	display: none; 
	left: auto; 
	right: 0px; 
	top: 0px;
	bottom: auto;
}
*/
/* LayerSlider Styles */ 
.ls-container{visibility:hidden;position:relative}
.ls-inner{position:relative;background-position:center center}
.ls-inner,.ls-layer{width:100%;height:100%}
.background-layer{width:100%;height:100%}
.ls-layer{position:absolute;display:none;background-position:center center;overflow:hidden}
.background-layer{position:absolute;display:none;background-position:center center;overflow:hidden}
.ls-layer *{margin:0;line-height:normal; margin-right: 85px;}
.ls-active,.ls-animating{display:block!important}
.ls-layer > *{position:absolute;left:0;top:0}
.ls-layer .ls-bg{left:50%;top:50%}
.background-layer > *{position:absolute;left:0;top:0}
.background-layer .ls-bg{left:50%;top:50%}
.ls-yourlogo{position:absolute;z-index:99}
.ls-bottom-nav-wrapper{height:0}
.ls-bottom-nav-wrapper,.ls-below-thumbnails{z-index:2;height:0;position:relative;text-align:center;margin:0 auto}
.ls-below-thumbnails{display:none;z-index:6}
.ls-bottom-nav-wrapper a,.ls-nav-prev,.ls-nav-next{outline:none}
.ls-bottom-slidebuttons{position:relative;float:right;z-index:1000}
.ls-bottom-slidebuttons,.ls-nav-start,.ls-nav-stop,.ls-nav-sides{position:relative}
.ls-vpcontainer{width:100%;height:100%;position:absolute;left:0;top:0}
.ls-videopreview{width:100%;height:100%;position:absolute;left:0;top:0;cursor:pointer}
.ls-playvideo{position:absolute;left:50%;top:50%;cursor:pointer}
.ls-tn{display:none!important}
.ls-thumbnail-hover{display:none;position:absolute;left:0}
.ls-thumbnail-hover-inner{width:100%;height:100%;position:absolute;left:0;top:0;display:none}
.ls-thumbnail-hover-bg{position:absolute;width:100%;height:100%;left:0;top:0}
.ls-thumbnail-hover-img{position:absolute;overflow:hidden}
.ls-thumbnail-hover img{max-width:none!important;position:absolute;display:inline-block;left:50%;top:0}
.ls-thumbnail-hover span{left:50%;top:100%;width:0;height:0;display:block;position:absolute;border-left-color:transparent!important;border-right-color:transparent!important;border-bottom-color:transparent!important}
.ls-thumbnail-wrapper{position:relative;width:100%;margin:0 auto;z-index:4}
.ls-thumbnail{position:relative;margin:0 auto}
.ls-thumbnail-inner,.ls-thumbnail-slide-container{width:100%}
.ls-thumbnail-slide-container{overflow:hidden!important;position:relative}
.ls-thumbnail-slide{text-align:center;white-space:nowrap;float:left;position:relative}
.ls-thumbnail-slide a{overflow:hidden;display:inline-block;width:0;height:0;position:relative}
.ls-thumbnail-slide img{max-width:none!important;max-height:100%!important;height:100%}
.ls-shadow{display:none;position:absolute;z-index:1;top:100%;width:100%;left:0}
.ls-shadow img{width:100%;height:100%;position:absolute;left:0;top:0}
.ls-wp-fullwidth-container{width:100%;position:relative}
.ls-wp-fullwidth-helper{position:absolute}
.ls-container img{max-width:none!important}
.ls-container img,.entry-content .ls-container img,.comment-content .ls-container img,.widget .ls-container img{border-radius:0;box-shadow:none}
.entry-content .ls-container *,.comment-content .ls-container *,.widget .ls-container *{line-height:normal;padding:0;outline:none;border:0}
.entry-content .ls-yourlogo,.entry-content .ls-inner *,.comment-content .ls-inner *,.widget .ls-inner *{margin:0}
.entry-content .ls-tn,.comment-content .ls-tn,.widget .ls-tn{display:none}


/*.layerslider{
	width: 100%; 
	height: 380px; 
	visibility: visible;
}
.ls-inner{
	width: 1149px; 
	height: 380px; 
	background-color: rgba(0, 0, 0, 0);
}
.ls-layer{
	width: 0px; 
	height: 380px; 
	visibility: visible; 
	display: none; 
	left: 0px; 
	right: auto; 
	top: 0px; 
	bottom: auto;
}
.ls-s1{
	z-index: 2; 
	top: 0px; 
	left: -100px; 
	margin-left: 513px; 
	margin-top: 0px; 
	display: block;
}
.ls-s2{
	z-index: 3; 
	top: 80px; 
	left: 35px; 
	margin-left: -1026px; 
	margin-top: 0px; 
	display: block; 
	width: 100%;
}
.ls-s3{
	z-index: 4; 
	top: 230px; 
	left: 190px; 
	margin-left: 0px; 
	margin-top: 513px; 
	display: block;
}
.ls-s4{
	z-index: 5; 
	top: 160px; 
	left: 150px; 
	margin-left: 2052px; 
	margin-top: 0px; 
	display: block;
}
.ls-s5{
	z-index: 6; 
	top: 100px; 
	left: 120px; 
	margin-left: 0px; 
	margin-top: -855px; 
	display: block;
}
.ls-s6{
	top: 0px; 
	left: 912px; 
	margin-left: 3078px; 
	margin-top: 0px; 
	display: block;
}
.ls-bg.bg1{
	z-index: 1; 
	right: 0px; 
	width: 930px; 
	height: 380px; 
	margin-left: -470px !important; 
	margin-top: -190px;
}
.ls-active{
	width: 1149px; 
	height: 380px; 
	visibility: visible; 
	display: none; 
	left: auto; 
	right: 0px; 
	top: 0px;
	bottom: auto;
}*/